.custom-logo {
  .site-meta-headline { text-align: center; }

  .brand { background: none; }

// 标题的颜色
  .site-title {
    margin: 10px auto 0;
    font-size: 36px;
    background: rgba(255,255,255,0.65);
    //color: $black-deep; chen
    color: #72574e;
    a { border: none; }
  }


}

// 头部logo 的尺寸 chen
.custom-logo-image {
  //margin: 0 auto; chen
  //padding: 5px;  chen
  //max-width: 150px; chen
  width:100%;
  height:30%;
  background: white;
}

// chen
.header {
    background-image: url(http://ww4.sinaimg.cn/large/8725b930gw1elsiq064ebj21gs0p01kx.jpg);
}
