.custom-logo {
  .site-meta-headline { text-align: center; }

  .brand { background: none; }

// 标题的颜色
  .site-title {
    margin: 10px auto 0;
    font-size: 36px;
    background: rgba(255,255,255,0.65);
    //color: $black-deep; chen
    color: #72574e;
    a { border: none; }
  }


}

// 头部logo 的尺寸 chen
.custom-logo-image {
  //margin: 0 auto; chen
  //padding: 5px;  chen
  //max-width: 150px; chen
  width:100%;
  height:30%;
  background: white;
}

// chen
.header {
    background-image: url(/images/huoying_banner.jpg);
    //background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1489410282578&di=6274c798cb2c557f805df3bf89576304&imgtype=0&src=http%3A%2F%2Fp1.gexing.com%2FG1%2FM00%2F93%2F57%2FrBACFFSmP42jKe_kAEERG0VEX7s270.jpg);
    //background-image: url(http://ww4.sinaimg.cn/large/8725b930gw1elsiq064ebj21gs0p01kx.jpg);
}
